.text-input {
  border: 1px solid #cacccd;
  font-size: $l-font-size;
  font-weight: 300;
  height: 50px;
  padding: $s-size;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
