// Colors

// $favicon: #2589bd;
$blue: #1c88bf;
$dark-blue: #364051;

$light-grey: #f7f7f7;
$grey: #666666;
$dark-grey: #333333;

// Font Sizes

$s-font-size: 1.4rem;
$l-font-size: 1.8rem;

// Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
